.logo {
    width: 80px;
}

.header_div {
    border-bottom: 1px solid rgb(219, 214, 214);
    margin-bottom: 10px;
}

.h2 {
    color: #61B846 !important;
    font-size: 16px !important;
    margin-left: 20px;
    margin-top: 5px !important;
    text-transform: uppercase;
}

.modal_footer {
    display: flex;
    justify-content: space-around;
}

.click_here {
    color: blue;
    text-decoration: underline;
}

.btn-success {
    width: 120px;
}

.slider_img {
    width: 100%;
    height: 350px;
}

.margin_bottom_div {
    border-bottom: 1px solid rgb(206, 202, 202);
    margin-top: 40px;
}

.wlcm_to {
    font-size: 30px;
    letter-spacing: 5px;
    color: #024F9D;
    text-align: center;
    font-family: "Josefin Sans", Sans-serif;
}

.sylani_welfare {
    font-size: 30px;
    font-weight: 500;
    color: #61B846 !important;
    text-align: center;
    text-transform: uppercase;
}

.on_dis_store {
    font-size: 30px;
    text-align: center;
    color: #024F9D;
    letter-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
}